html,
body,
div,
p,
ul,
li,
a,
img {
    margin: 0;
    padding: 0;
}
body {
    background-image: url("img/clouds.jpg");
    background-size: 80%;
}
#wrapper {
    position: relative
}
h1 {
    position: absolute;
    font-size: 6.2em;
    font-family: "Lucida Console", Monaco, monospace;
    color: #ff9900;
    left: 35%;
    top: 40px;
}
h3 {
    position: absolute;
    font-size: 3em;
    font-family: "Lucida Console", Monaco, monospace;
    color: #ff0000;
    left: 55%;
    top: 180px;
}
/*Menu*/

a {
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    font-family: "Lucida Console", Monaco, monospace;
    color: #ff3300;
}
li {
    border: 2px solid #fff;
    display: inline-block;
    background-image: url("img/clouds.jpg");
    background-size: 60%;
    padding: 1%;
}
ul {
    margin-left: 15%;
}
/*End of Menu*/

main {
    position: absolute;
    left: 15%;
    background-image: url("img/clouds2.png");
    background-size: 100%;
    width: 70%;
    height: 700px;
    border: 2px solid #fff;
}
#himn {
    position: absolute;
    width: 33%;
    text-align: center;
    height: 300px;
    font-size: 2.0em;
    color: #800000;
    font-family: "Lucida Console", Monaco, monospace;
    font-weight: bold;
}
#gerb {
    position: absolute;
    top: 350px;
    width: 33%;
    text-align: center;
    height: 300px;
    font-size: 2.0em;
}
#title,
#titlegerb {
    color: #ff3300;
    font-size: 2.1em;
    font-family: "Lucida Console", Monaco, monospace;
    font-weight: bold;
}
#himn p {
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    background-image: url("img/sunb.jpg");
    background-size: 105%;
}
#klaspic img {
    position: absolute;
    right: 3.5%;
    top: 5.5%;
}